* {
    margin: 0;
    /* ogenin dis boslugunu sifirlar */
    padding: 0;
    /*ogenin ic boslugunu sifirlar*/
    box-sizing: border-box;
    /*kutu modelini daha tutarlı hale getirmek için*/
}

body {
    /*  display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('bckground.png');
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* text-align: center;*/
    margin-top: 150px;
    margin-left: 500px;
}

.container .spinButton {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0, 0, 0, 75);
    cursor: pointer;
    user-select: none;

}

.container .spinButton::before {
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
    /* css clip path maker sitesini kullanarak carkin disini olusturduk*/
}


.container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    /*tasan ogeleri gizlemek icin*/
    box-shadow: 0 0 0 5px #333,
        /* golgelendirmek icin kullandık*/
        0 0 0 15px #fff,
        0 0 0 18px #111;
    transition: transform 5s ease-in-out;
}

.container .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.container .wheel .number span {
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.container .wheel .number span::after {
    content: '$';
    position: absolute;
    font-size: 0, 75em;
    font-weight: 500;
}

#nokta {
    position: absolute;
    top: 100px;
    left: 50%;
}


.menu-bar {
    position: fixed;
    top: 0;
    font-size: larger;
    background-color: #333;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;

}





.menu-bar :hover {
    background-color: #575757;
}

@media (max-width: 600px) {
    .menu-bar ul li {
        float: none;
    }
}


.sidebar {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    width: 200px;
    height: 270px;
    background-color: #c4c4c4;
    padding: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#R {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 35px;
    width: 160px;
    height: 250px;
    background-color: #dddddd;
    padding: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

}

.content {
    margin-right: 220px;
    /* Sağ kenar boşluğu ve içerik arasına yerleştirme */
    padding: 20px;
}

#resim {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Dairesel görünüm için */
    background-image: url('coin.png');
    /* Görsele yol veriniz */
    background-size: cover;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.5);
    /* Gölge */

}

#message {
    position: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    color: #ffd760;
    border-radius: 5px;
    position: absolute;
    top: 100;
    left: 10px;
    margin-left: 10px;
    background-color: #3333338f;
    opacity: 0;
}